/*****************************
General Styling 
******************************/

body {
	background-color: none;
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 1rem;
}

html, body {
    height: 100%;
}


h2 {
	/*letter-spacing: 0.5em;*/
	text-align: center;
	padding: 5px 0;
	/*background-color: red;*/
}

.description {
	/*background-color: rgb(255,255,0);*/
    font-size: 12px;       
    color: gray;
    letter-spacing: 1px;
    padding: .5rem;
    height: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 
