/*****************************
General Styling 
******************************/
html, 
body {
	-webkit-text-size-adjust: none;
    height: 100%;
    margin-right: 0px;

/*    padding: 0px;*/

}

body {
	font-family: 'Lato', Arial, sans-serif;
	font-size: .889rem;
	color: #392254;
	margin: 0px;
	
}


a {
	font-family: 'Quicksand';
	font-weight: lighter;
}

.columns {padding: 0px;}

cite {
	color: inherit;
	text-align: right;
}
	
/*****************************
Psuedo Classes
******************************/

a:link,
a:visited {
	font-size: 1rem;
	color: #321D5B;
}

.menu a:hover,
p a:hover {
	background: linear-gradient(45deg, #FF66CC, #DDAE85);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.about a:link {
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	text-decoration: none;
}


/*.footer a:hover {
	color: #321D5B;
	font-weight: bold;
	text-decoration: none;
}*/

/*.footer a:link {
	font-size: .707rem;
	list-style-type: none;
}*/

.button:hover {
	color: #fff;
    background: linear-gradient(45deg, #FF66CC, #DDAE85);
	text-decoration: none;
}

.iconstyle a:link,
.iconstyle a:visited {
	font-size: 2rem;
	color: #FF66CC;
}

.iconstyle a:hover {
	color: #E1DAEA;
}


/*****************************
Body Styling 
******************************/
h1 {
	font-family: 'Quicksand', Arial, sans-serif;
	font-size: 1.3rem;
	color: #695284;
	margin-top: 1.3rem;
	text-align: center;

}

h2 {
	font-family: 'Quicksand', Arial, sans-serif;
	font-size: 2.1rem;
	color: gray;
	text-align: center;
	padding-top: 2rem;

}

.triangle {
	text-align: center;
	font-size: 1.5rem;
	background: linear-gradient(45deg, #FF66CC, #DDAE85);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	padding-top: 2rem;
}

.content {
	text-align: left;
	padding: 1.5rem;
	background-color: transparent;
}

.header {
	min-height: 100%;
	background-color: none;
	padding-bottom: 1.5rem;

}

.lovely {
	max-width: 100%;
	background-color: none;
	padding-top: 4rem;
 	text-align: center;
}

.lovelytitle {
	padding-bottom: 2.5rem;
}

.menu {
	background-color: white;
	width: 100%;
	text-align: center;
}

.menu li {	
	display: inline-block;
}

.sticky.is-stuck {
	border-bottom: 2px solid #F09CD4;
}

.arrow {
	padding-top: 2rem;
	width: 12%;
}

.reiki {
	background-color: #E1DAEA;
	min-height: 100%;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.reikipic {
	display: block;
	border: 2px solid #DCD1E8;
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;
	padding: .5rem;
	
}
/*
.orbit-container {
	height: auto;
}

.orbit-bullets button {
    width: .5rem;
    height: .5rem;
    margin: .1rem;
    border: 1px solid #B09ED4;
    background-color: transparent;
    border-radius: 10%;
}

.orbit-bullets button.is-active, .orbit-bullets button:hover {
    background-color: #B09ED4;
}
*/
.about {
	min-height: 100%;
	overflow-y: scroll;
	padding: 2rem 0rem;
}
.reiki h2,
.instagram h2 { 
	color: #fff;
}

.about p {
	color: #372E44;
	word-spacing: 1px;
}


.aboutpic {
	border-radius: 50%;
	display: block;
	margin: 1rem 0rem;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
	
}

.praise {
	min-height: 100%;
	width: 100%;
	background-color: white;
	background-image: url(../img/watercolor.png);
	background-repeat: no-repeat;
	background-position: center;
	overflow: scroll;
	word-spacing: 1px;
	padding-top: 20%;
	padding-left: 2%;
	padding-right: 2%;
}

.praise .content {
	padding: 1.5rem;
	text-align: center;
}

.praise p {
	margin-bottom: 0;
}


.appointment {
	min-height: 100%;
	width: 100%;
/*	background-image: url(../img/watercolor.png);
	background-repeat: no-repeat;
	background-position: center;
	overflow: scroll;*/
	word-spacing: 1px;
	padding-top: 1rem;
}

.appointment .content {
	text-align: center;
}

label {
	color: gray;
}

.button {
  color: #E376B3;
  font-size: 1rem;
  letter-spacing: 2px;
  border: 2px solid transparent;
  border-image: linear-gradient(45deg, #FF66CC, #DDAE85);
  border-image-slice: 1;
  background: #fff;
  text-fill-color: #E376B3;
  transition: all 0.3s ease; 
}

.contact-form {
	padding-bottom: 3rem;
}

.instagram-content {
	min-height: 100%;
	padding: 2rem 1rem 1rem 1rem;
	background-color: #E1DAEA;
}

.instagram-content h2 {
	color: #fff;
}

.instagram-box {
	padding: 1rem;
}


.description {
	background-color: white;
    font-size: .707rem;       
    color: gray;
    letter-spacing: 1px;
    padding: .5rem;
    height: 6rem;
    overflow: scroll;
    white-space: pre-wrap;
   /* text-overflow: ellipsis;*/

}

.footer ul {
	margin: 0;
}
.footer li {
	list-style-type: none;
	display: inline-block;
	color: #392254;
	margin-right: 1rem;
}

.iconstyle {
	/*background-color: red;*/
	text-align: center;

}
/*****************************
Media Queries 
******************************/	

/* 480px and 600px */
@media screen and (min-width: 30em) and (max-width: 37.5em) {

	.lovelybanner {
		padding-top: .5rem;
		width: 50%;
	}

	.reiki { 
		padding-top: 4rem;
	}

}

/* 600px and 624px */
@media screen and (min-width: 37.5em) and (max-width: 39em) {

	.lovelybanner {
		padding-top: 10rem;
		width: 60%;
	}

	.reiki { 
		padding-top: 1rem;
	}
}

/* 640px and 736px */
@media screen and (min-width: 40em) and (max-width: 46em) {

	.lovely {
		padding-top: 0rem;
	}

	.lovelybanner {
		width: 45%;
	}

	.lovelytitle {
		padding-bottom: 0;
	} 

	h1 {
		margin-top: .5rem;
		font-size: 1.1rem;
	}

	.reikipic {
		margin-top: 9rem;
	}

}

/* 752px and 960px */
@media screen and (min-width: 47em) and (max-width: 60em) {

		.lovely {
		padding-top: 8rem;
	}

		.lovelybanner {	
		width: 50%;
	}

		.lovelytitle {
		padding: 5rem 0;
	} 

		h1 {
		font-size: 1.3rem;
	}

		.reiki { 
		padding-top: 8rem;
	}

	.reiki h2 {
		padding-bottom: 2rem; 
	}

	.reikipic {
		margin-top: 7rem;
	}

		.about .content {
		padding: 1rem 8rem;
	}

		.appointment {
		padding-top: 5rem;
	}

	.about h2 {
		padding-top: 0rem;
		padding-bottom: 2rem;
	}

}

/* 960px and 1024px */
@media screen and (min-width: 60em) and (max-width: 64em) {

	.lovely {
		padding-top: 1rem;
	}

	.lovelytitle {
		padding: 1.5rem 0 2rem 0;
	} 

	.reiki {
		padding-top: 2rem;
	}

	.reiki h2 {
		padding-bottom: 2rem; 
	}

	.reiki .content {
		padding-top: 5rem;
		padding-left: 3rem;
		padding-right: 0rem;
	}

	.about .content {
		padding-top: 0rem;
	}

}

@media screen and (min-width: 64em) {
	.praise {
		padding-top: 5%;
		padding-left: 5%;
		padding-right: 5%;
	}
}

/* 1024px and up */
@media screen and (min-width: 65em) {
	.praise {
		min-height: 100%;
		width: 100%;
		padding-top: 4rem;
		background-image: url(../img/watercolor.png);
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center;
		overflow: scroll;
	}

	.triangle {
	padding-top: 1rem;
}
}

/* 1024px and 1280px */
@media screen and (min-width: 65em) and (max-width: 80em) {

	.lovelybanner {
		padding-top: .5rem;
		width: 40%;
	}

	.menu {
		padding-top: 0rem;
	}

	.about .content {
		padding-top: 3rem; 
		padding-right: 5rem;
	}

	.appointment {
	padding-top: 2rem;
}

}

/* 1280px and 1600px */
@media screen and (min-width: 80em) and (max-width: 100em) {

	.lovely {
		padding-top: 1rem;
	}

	.content {
		padding: 0rem;
	}

	.reiki {
		padding-left: 3%;
		padding-right: 3%;
	}

	.reiki h2,
	.about h2 {
		padding-bottom: 2rem;
	}

	.reiki .content {
		/*padding-top: 8rem;*/
		padding-right: 0rem;
		padding-left: 5rem;
	}

	.aboutpic {
		margin-left: auto;
		margin-right: 0;
		margin-top: 3rem;
	}
	.about .content {
		padding-top: 3.5rem;
		padding-right: 10rem;
	}

	.praise .content {
		padding: 1rem 15rem;
	}

}

/* 1600px and up */
@media screen and (min-width: 100em) {

	.lovely {
		padding-top: 6rem;

	}

	.lovelytitle {
		padding-top: 1.5rem;
		padding-bottom: 2.5rem;
	}

	.reiki {
		padding-left: 3%;
		padding-right: 3%;
	}

	.reiki h2 {
		padding-top: 5rem;
		padding-bottom: 2rem;
	}

	.reiki .content {
		padding-top: 3rem;
		padding-right: 0rem;
		padding-left: 30rem;
	}

	.reikipic {
		margin-left: 3rem;
	}

	.aboutpic {
		margin-left: auto;
		margin-right: 0;
	}

	.about {
		padding: 10rem 0rem;
	}

	.about h2 {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.about .content {
		padding-right: 25rem;
	}

	.praise {
		padding-top: 10%;	
		padding-left: 20%;
		padding-right: 20%;
	}

	.appointment .content {
		padding: 3rem 32rem;
	}

	.appointment {
	padding-top: 5rem;
}

}

/*****************************
Animation
******************************/	
.pulsate {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.1;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.1;
    }
}


