/*****************************
General Styling 
******************************/
html, 
body {
	-webkit-text-size-adjust: none;
    height: 100%;
    margin-right: 0px;

}

body {
	font-family: 'Lato', Arial, sans-serif;
	font-size: .889rem;
	color: #392254;
	margin: 0px;
	
}


a {
	font-family: 'Quicksand';
	font-weight: lighter;
}

.columns {padding: 0px;}

cite {
	padding: 0rem 1rem 1rem;
	color: inherit;
	text-align: right;
}
	
/*****************************
Psuedo Classes
******************************/

a:link,
a:visited {
	font-size: 1rem;
	color: #321D5B;
}

.menu a:hover,
p a:hover {
	background: linear-gradient(45deg, #FF66CC, #DDAE85);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.about a:link {
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	text-decoration: none;
}

.book a:link {
	font-weight: bolder;
}

.button:hover {
	color: #fff;
    background: linear-gradient(45deg, #FF66CC, #DDAE85);
	text-decoration: none;
}

.iconstyle a:link,
.iconstyle a:visited {
	font-size: 2rem;
	color: #FF66CC;
}

.iconstyle a:hover {
	color: #E1DAEA;
}


/*****************************
Body Styling 
******************************/
h1 {
	font-family: 'Quicksand', Arial, sans-serif;
	font-size: 1.3rem;
	color: #695284;
	margin-top: 1.3rem;
	text-align: center;

}

h2 {
	font-family: 'Quicksand', Arial, sans-serif;
	font-size: 2.1rem;
	color: gray;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;

}

.triangle {
	text-align: center;
	font-size: 1.5rem;
	background: linear-gradient(45deg, #FF66CC, #DDAE85);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

p.triangle {
	margin-bottom: .5rem;
}

.content {
	text-align: left;
	padding: 1.5rem;
	
}

.header {
	min-height: 100%;
	background-color: inherit;
	padding-bottom: 1.5rem;

}

.lovely {
	max-width: 100%;
	background-color: inherit;
	padding-top: 4rem;
 	text-align: center;
}

.lovelytitle {
	padding-bottom: 2.5rem;
}

.menu {
	background-color: white;
	width: 100%;
	text-align: center;
}

.menu li {	
	display: inline-block;
}

.sticky.is-stuck {
	border-bottom: 2px solid #F09CD4;
}

.arrow {
	padding-top: 2rem;
	width: 12%;
}

.reiki {
	background-color: #E1DAEA;
	padding: 2rem 0rem;
}

.reiki h2 { 
	color: #fff;
}

.reikipic {
	margin: 1rem auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: .5rem;
}

.reikipic img {
	border: 2px solid #DCD1E8;
}

.book {
	margin-top: 4rem;
	text-align: center;
}

.book input {
	border: 2px solid white;
	background-color: transparent;
	color: #fff;
	font-weight: bolder;
	padding: 1rem;
	width: 15rem;
	margin-bottom: 0;
}

.about {
	padding: 2rem 0rem;
}


.about p {
	color: #372E44;
	word-spacing: 1px;
}

.aboutpic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	padding: 1rem;
}

.praise {
	height: 100%;
	overflow: scroll;
	background-color: white;
	background-image: url(../img/watercolor.png);
	background-repeat: no-repeat;
	background-position: center;
}

.praise .content {
	padding: 1.5rem;
	text-align: left;
	text-indent: 30px;
}

.praise p {
	margin-bottom: 0;
}


.appointment {
	min-height: 100%;
	width: 100%;
	word-spacing: 1px;
	padding-top: 1rem;
}

.appointment .content {
	text-align: center;
}

label {
	color: gray;
}

.button {
  color: #E376B3;
  font-size: 1rem;
  letter-spacing: 2px;
  border: 2px solid transparent;
  border-image: linear-gradient(45deg, #FF66CC, #DDAE85);
  border-image-slice: 1;
  background: #fff;
  text-fill-color: #E376B3;
  transition: all 0.3s ease; 
}

.contact-form {
	padding-bottom: 3rem;
}

.instagram-content {
	padding: 2rem 1rem 1rem 1rem;
	background-color: #E1DAEA;
}

.instagram-content h2 {
	color: #fff;
}

.instagram-box {
	padding: 1rem;
}


.description {
	background-color: white;
    font-size: .707rem;       
    color: gray;
    letter-spacing: 1px;
    padding: .5rem;
    height: 6rem;
    overflow: scroll;
    white-space: pre-wrap;
}

.footer ul {
	margin: 0;
}
.footer li {
	list-style-type: none;
	display: inline-block;
	color: #392254;
	margin-right: 1rem;
}

.iconstyle {
	text-align: center;

}
/*****************************
Media Queries 
******************************/	

/* 480px and 600px */
@media screen and (min-width: 30em) and (max-width: 37.5em) {

	.lovelybanner {
		width: 50%;
	}
}

/* 600px and 624px */
@media screen and (min-width: 37.5em) and (max-width: 39em) {

	.lovelybanner {
		padding-top: 10rem;
		width: 60%;
	}

	.reiki { 
		padding-top: 1rem;
	}
}

/* 640px and 768px */
@media screen and (min-width: 40em) and (max-width: 47em) {

	h2 {
		font-size: 1.8rem;
	}

	.lovely {
		padding-top: 0rem;
	}

	.lovelybanner {
		width: 40%;
	}

	.lovelytitle {
		padding-bottom: .5rem;
	} 

	.lovelytitle h1 {
		font-size: 1.2rem;
	}

	.reikipic {
		margin-top: 3rem;
	}

	.book {
		/*display: none;*/
		margin-top: 3rem;
	}

	.aboutpic {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.praise {
		overflow: scroll;
		padding-top: 2rem;
	}


}

/* 768px and 960px */
@media screen and (min-width: 47em) and (max-width: 60em) {
	.header {
		padding-top: 6rem;
	}

	.lovely {
		padding-bottom: 3rem;
	}

	.lovelybanner {
		width: 45%;
		margin: 2rem;
	}

	.lovelytitle {
		margin-bottom: 3rem;
		padding-bottom: 0;
	} 

	.reikipic {
		margin-top: 3rem;
	}

	.about {
		min-height: 100%;
		padding: 5rem 3rem 0;
	}

	.praise {
		overflow: scroll;
		padding: 2rem 3rem 0rem;
	}

	.appointment {
		padding-top: 5rem;
	}

	.instagram-content {
			height: 100%;
			overflow: scroll;
	}
}

/* 960px and 1024px */
@media screen and (min-width: 60em) and (max-width: 64em) {

	.lovely {
		padding-top: 1rem;
	}

	.lovelytitle {
		padding: 1.5rem 0 2rem 0;
	} 

	.reikipic {
		margin: 0 auto;
	}

	.about .content {
		padding-top: 0rem;
	}

	.about {
		min-height: 100%;
	}

}

@media screen and (min-width: 64em) {
	.praise {
		padding: 3rem 7rem 0;
	}
}

/* 1024px and up */
@media screen and (min-width: 65em) {
	.praise {
		min-height: 100%;
		width: 100%;
		padding-top: 4rem;
		background-image: url(../img/watercolor.png);
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center;
		overflow: scroll;
	}

	.triangle {
	padding-top: 1rem;
	}
}

/* 1024px and 1280px */
@media screen and (min-width: 64em) and (max-width: 80em) {


	.lovelybanner {
		padding-top: 2rem;
		width: 45%;
	}

	.reiki,
	.about {
		min-height: 100%;
		padding-top: 3rem;
	}

	.aboutpic {
		padding-top: 2rem;
	}

	.appointment {
	padding-top: 2rem;
	}

}

/* 1280px and 1600px */
@media screen and (min-width: 80em) and (max-width: 100em) {

	.lovely {
		padding-top: 1rem;
	}

	.reiki {
		min-height: 100%;
		padding: 1rem 3rem;
	}

	.reiki .content {
		padding: 5rem 2rem 0rem 5rem;
	}

	.about {
		min-height: 100%;
		padding: 5rem 3rem 2rem;
	}

	.about h2 {
		padding-bottom: 2rem;
	}

	.praise .content {
		padding: 1rem 10rem;
	}

}

/* 1600px and 1920px */
@media screen and (min-width: 100em) and (max-width: 120em) {

	.header {
		padding-top: 8rem;
	}

	.lovelytitle {
		padding-top: 1.5rem;
		padding-bottom: 2.5rem;
	}

	.reiki {
		min-height: 100%;
		padding: 5rem 15rem;
	}

	.reiki .content {
		padding: 3rem 3rem 0rem;
	}

	.about {
		padding: 10rem 10rem;
		min-height: 100%;
	}

	.about h2 {
		padding-bottom: 2rem;
	}

	.about .content {
		padding-right: 5rem;
		padding-top: 3rem;
	}

	.praise {
		padding: 10rem 30rem;
	}

	.appointment .content {
		padding: 3rem 32rem;
	}

	.appointment {
	padding-top: 5rem;
	}

}

/* 1920px and 2560px */
@media screen and (min-width: 120em) and (max-width: 140em) {
	
	.header {
		padding-top: 2rem;
	}

	.about .content {
		padding-top: 7rem;
		padding-left: 5rem;
	}

}
/* 2560px and up */
@media screen and (min-width: 140em) {
	
	.header {
		padding-top: 20rem;
	}

	.reiki .content {
		padding-top: 3rem;
		padding-left: 10rem;
	}

	.reiki,
	.about {
		padding: 5rem 30rem;
	}

	.aboutpic {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	.about .content {
		padding-right: 10rem;
	}

	.praise {
		padding: 20rem 40rem;
	}

	.praise .content {
		padding: 0rem 5rem 5rem;
	}

	.appointment {
		padding-top: 15rem;
	}

	.instagram-content {
		min-height: 100%;
		padding: 10rem 20rem;
	}

}


/*****************************
Animation
******************************/	
.pulsate {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.1;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.1;
    }
}


