/*****************************
General Styling 
******************************/
html, 
body {
	-webkit-text-size-adjust: none;
    height: 100%;
    margin-right: 0px;

}

body {
	font-family: 'Lato', Arial, sans-serif;
	font-size: .889rem;
	color: #392254;
	margin: 0px;
	
}

a {
	font-family: 'Quicksand';
	font-weight: lighter;
}

.columns {padding: 0px;}

cite {
	padding: 0rem 1rem 1rem;
	color: inherit;
	text-align: right;
}
	
/*****************************
Psuedo Classes
******************************/

a:link,
a:visited {
	font-size: 1rem;
	color: #321D5B;
}

.menu a:hover,
p a:hover {
	background: linear-gradient(45deg, #FF66CC, #DDAE85);
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.about a:link {
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	text-decoration: none;
}

.book a:link {
	font-weight: bolder;
}

.button:hover,
.button:focus {
	color: #fff;
    background: linear-gradient(45deg, #FF66CC, #DDAE85);
	text-decoration: none;
}

.iconstyle a:link,
.iconstyle a:visited {
	font-size: 2rem;
	color: #FF66CC;
}

.iconstyle a:hover {
	color: #E1DAEA;
}

[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus,
  textarea:focus {
    border: 1px solid #FF66CC;
    background: #fefefe;
    outline: none;
    box-shadow: 0 0 0px #F09CD4;
    transition: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
/*****************************
Body Styling 
******************************/
h1 {
	font-family: 'Quicksand', Arial, sans-serif;
	font-size: 1.2rem;
	color: #695284;
	margin-top: 1.3rem;
	text-align: center;

}

h2 {
	font-family: 'Quicksand', Arial, sans-serif;
	font-size: 2.1rem;
	color: gray;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;

}

.triangle {
	text-align: center;
	font-size: 1.5rem;
	color: #FF66CC;
}

p.triangle {
	margin-bottom: .5rem;
}

.content {
	text-align: left;
	padding: 1.5rem;
	
}

.header {
	min-height: 100%;
	background-color: inherit;
	padding-bottom: 1.5rem;

}

.lovely {
	max-width: 100%;
	background-color: inherit;
	padding-top: 1rem;
 	text-align: center;
}

.lovelytitle {
	padding-bottom: 2.5rem;
}

.menu {
	background-color: white;
	width: 100%;
	text-align: center;
}

.menu li {	
	display: inline-block;
}

.sticky.is-stuck {
	border-bottom: 2px solid #F09CD4;
}

.arrow {
	padding-top: 1rem;
	width: 12%;
}

.reiki {
	background-color: #E1DAEA;
	padding: 2rem 0rem;
}

.reiki h2 { 
	color: #fff;
}

.reikipic {
	margin: 1rem auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: .5rem;
}

.reikipic img {
	border: 2px solid #DCD1E8;
}

.book {
	margin-top: 4rem;
	text-align: center;
}

.book input {
	border: 2px solid white;
	background-color: transparent;
	color: #fff;
	font-weight: bolder;
	padding: 1rem;
	width: 15rem;
	margin-bottom: 0;
}

.about {
	padding: 2rem 0rem;
}


.about p {
	color: #372E44;
	word-spacing: 1px;
}

.aboutpic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	border: 2px solid #DCD1E8;
	padding: 1rem;
}

.praise {
	height: 100%;
	/*overflow: scroll;*/
	-webkit-overflow-scrolling: touch;
	background-color: white;
	background-image: url(../img/watercolor.png);
	background-repeat: no-repeat;
	background-position: center;
}

.praise .content {
	padding: 1.5rem;
	text-align: left;
	text-indent: 30px;
}

.praise p {
	margin-bottom: 0;
}


.appointment {
	min-height: 100%;
	width: 100%;
	word-spacing: 1px;
	padding-top: 2rem;
}

.appointment .content {
	text-align: center;
}

label {
	color: gray;
}

.button {
  color: #E376B3;
  font-size: 1rem;
  letter-spacing: 2px;
  border: 2px solid transparent;
  border-image: linear-gradient(45deg, #FF66CC, #DDAE85);
  border-image-slice: 1;
  background: #fff;
  text-fill-color: #E376B3;
  transition: all 0.3s ease; 
}

.contact-form {
	padding-bottom: 3rem;
}

input#fullname,
input#email,
input#tel,
textarea#message {
	margin-bottom: 1rem;
	font-size: .889rem;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {color: rgba(57, 34, 84, 0.8);
									font-size: .707rem;}
input::-moz-placeholder,
textarea::-webkit-input-placeholder {color: rgba(57, 34, 84, 0.8);
									font-size: .707rem;}
input:-moz-placeholder,
textarea::-webkit-input-placeholder {color: rgba(57, 34, 84, 0.8);
									font-size: .707rem;}
input:-ms-input-placeholder,
textarea::-webkit-input-placeholder {color: rgba(57, 34, 84, 0.8);
									font-size: .707rem;}

#message::-webkit-input-placeholder {color: rgba(57, 34, 84, 0.8);}
#message:-moz-placeholder {color: rgba(57, 34, 84, 0.8);}
#message::-moz-placeholder {color: rgba(57, 34, 84, 0.8);}
#message:-ms-input-placeholder {color: rgba(57, 34, 84, 0.8);}

[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.4375rem;
    padding: .5rem;
    border-bottom: 1px solid #F09CD4;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0 0 1rem;
    font-family: inherit;
    font-size: 1rem;
    color: #0a0a0a;
    background-color: #fefefe;
    box-shadow: none;
    border-radius: 0;
    transition: box-shadow .5s,border-color .25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.instagram-content {
	padding: 2rem 1rem 1rem 1rem;
	background-color: #E1DAEA;
}

.instagram-content h2 {
	color: #fff;
}

.instagram-box {
	padding: 1rem;
}


.description {
	background-color: white;
    font-size: .707rem;       
    color: gray;
    letter-spacing: 1px;
    padding: .5rem;
    height: 6rem;
    overflow: scroll;
    white-space: pre-wrap;
}

.footer ul {
	margin: 0;
}
.footer li {
	list-style-type: none;
	display: inline-block;
	color: #392254;
	margin-right: 1rem;
}

.iconstyle {
	text-align: center;

}
/*****************************
Media Queries 
******************************/	

/* 480px and 600px */
@media screen and (min-width: 30em) and (max-width: 37em) {

	.lovelybanner {
		width: 50%;
	}
}

/* 600px and 624px */
@media screen and (min-width: 37em) and (max-width: 39em) {

	.lovelybanner {
		padding-top: 10rem;
		width: 60%;
	}

	.reiki { 
		padding-top: 1rem;
	}
}

/* 640px and 768px */
@media screen and (min-width: 40em) and (max-width: 47em) {

	h2 {
		font-size: 1.8rem;
	}

	.lovely {
		padding-top: 0rem;
	}

	.lovelybanner {
		width: 40%;
	}

	.lovelytitle {
		padding-bottom: .5rem;
	} 

	.lovelytitle h1 {
		margin-top: 0;
		font-size: 1rem;
	}

	.reikipic {
		margin-top: 3rem;
	}

	.book {
		/*display: none;*/
		margin-top: 3rem;
	}

	.aboutpic {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.praise {
		/*overflow: scroll;*/
		padding-top: 2rem;
	}


}

/* 768px and 960px */
@media screen and (min-width: 47em) and (max-width: 60em) {
	.header {
		padding-top: 6rem;
	}

	.lovely {
		padding-bottom: 3rem;
	}

	.lovelybanner {
		width: 50%;
		margin: 2rem;
	}

	.lovelytitle {
		margin-bottom: 3rem;
		padding-bottom: 0;
	} 

	.reikipic {
		margin-top: 3rem;
	}

	.about {
		min-height: 100%;
		padding: 5rem 3rem 0;
	}

	.praise {
		/*overflow: scroll;*/
		padding: 2rem 3rem 0rem;
	}

	.appointment {
		padding-top: 5rem;
	}

	.instagram-content {
			height: 100%;
			overflow: scroll;
	}
}

/* 960px and 1024px */
@media screen and (min-width: 60em) and (max-width: 64em) {

	.lovelybanner {
		width: 45%;
		padding-top: 1rem;
	}

	.reikipic {
		margin: 0 auto;
	}

	.about .content {
		padding: 0rem 4rem 0rem;
	}

	.about {
		min-height: 100%;
	}

	.praise {
		padding: 3rem 7rem 0;
	}

}

@media screen and (min-width: 64em) {
	.praise {
		padding: 3rem 7rem 0;
	}
}

/* 1024px and up */
@media screen and (min-width: 65em) {
	.praise {
		min-height: 100%;
		width: 100%;
		padding-top: 4rem;
		background-image: url(../img/watercolor.png);
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center;
		/*overflow: scroll;*/
	}
}

/* 1024px and 1280px */
@media screen and (min-width: 64em) and (max-width: 80em) {

	.lovelybanner {
		padding-top: 2rem;
		width: 45%;
	}

	.reiki,
	.about {
		min-height: 100%;
		padding-top: 3rem;
	}

	.aboutpic {
		margin-top: 2rem;
	}

	.appointment {
	padding-top: 2rem;
	}

}

/* 1280px and 1600px */
@media screen and (min-width: 80em) and (max-width: 100em) {

	.lovelybanner {
		padding-top: 1rem;
		width: 38%;
	}

	.lovely {
		padding-top: 1rem;
	}

	.reiki {
		min-height: 100%;
		padding: 1rem 3rem;
	}

	.reiki .content {
		padding: 5rem 2rem 0rem 5rem;
	}

	.about {
		min-height: 100%;
		padding: 5rem 3rem 2rem;
	}

	.about h2 {
		padding-bottom: 2rem;
	}

	.praise .content {
		padding: 1rem 10rem;
	}

}

/* 1600px and 1920px */
@media screen and (min-width: 100em) and (max-width: 120em) {

	.header {padding-top: 8rem;}

	.lovelybanner {	padding-top: 2rem;
					width: 30%;}

	.lovelytitle {padding: 1.5rem 0rem 2.5rem;}

	.reiki {min-height: 100%;
			padding: 5rem 18rem;}

	.reiki .content {padding: 3rem 3rem 0rem;}

	.about {padding: 10rem 10rem;
			min-height: 100%;}

	.about h2 {padding-bottom: 2rem;}

	.about .content {padding: 3rem 5rem 0rem 0rem;}

	.praise {padding: 10rem 30rem;}

	.appointment .content {padding: 3rem 32rem;}

	.appointment {padding-top: 5rem;}

	.contact-form {padding: 0rem 15rem;}
	
	.instagram-content {padding: 2rem 8rem 1rem;}

	.instagram-box {padding: 2rem;}
}

/* 1920px and 2560px */
@media screen and (min-width: 120em) and (max-width: 140em) {
	
	.lovelybanner { padding-top: 2rem;
					width: 30%;}

	.header {padding-top: 2rem;}

	.about .content {	padding-top: 5rem;
						padding-left: 5rem;}

	.contact-form {	padding-left: 15rem;
					padding-right: 15rem;}

	.instagram-content {padding: 2rem 8rem 1rem;}

	.instagram-box {padding: 3rem;}

}
/* 2560px and up */
@media screen and (min-width: 140em) {
	
	.header {padding-top: 15rem;}

	.lovelybanner {	padding-top: 2rem;
					width: 25%;}

	.reiki .content {	padding-top: 3rem;
						padding-left: 10rem;}

	.reiki,
	.about {padding: 5rem 30rem;}

	.aboutpic {	display: block;
				margin-right: auto;
				margin-left: auto;}

	.about .content {padding-right: 10rem;}

	.praise {padding: 20rem 40rem;}

	.praise .content {padding: 0rem 5rem 5rem;}

	.appointment {padding-top: 15rem;}

	.contact-form {	padding-left: 20rem;
					padding-right: 20rem;}

	.instagram-content {	min-height: 100%;
							padding: 5rem 20rem;}

	.instagram-box {padding: 2rem;}

}


/*****************************
Animation
******************************/	
.pulsate {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.1;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.1;
    }
}


