/*******************************
General Styling
********************************/


body 	{font-family: 'Lato', Arial, sans-serif;
		font-size: .909rem;
		color: #464646;
		background-color: white;}

/*******************************
Main Content Styling
********************************/

.about-banner		{display: flex;
					justify-content: flex-start;
					align-items: center;
					height: 40%;
					background-image: url(../quota/quota_banner_lg.jpg);
					background-repeat: no-repeat;
					background-position: center;
					background-attachment: fixed;}

.about-banner p		{
					color: #fff;
					font-weight: 100;
					font-size: 5rem;
					/*text-align: center;*/}

.about-pic img		{border-radius: 50%;
					margin-top: 5rem;
					display: block;
					margin-left: auto;
					margin-right: auto;}

.about-content		{padding: 5rem 2rem;}

